{% extends '../base.html' %}

{% block title %}course detail{% endblock %}
    
{% block content %}
    <div class="container pt-5 pd-5">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'courses_page' %}">Courses</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lessons_page' slug=course.slug %}">{{ course.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ lesson.theme }}</li>
          </ol>
      </nav>
      <h1 class="mb-5">{{ lesson.theme }}</h1>
      <div class="card">
          <div class="card-body">
              {% if lesson.content %}
              <p>{{ lesson.content }}</p>
              {% else %}
              {% endif %}
              {% if lesson.youtube_url %}
              <iframe width="100%" height="400" src="{{lesson.youtube_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              {% else %}
              {% endif %}
          </div>
      </div>
  </div>
{% endblock %}
